<ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card >
  <ion-img src="../../../assets/images/header.png"></ion-img>
  <ion-card-header class="top-text">
   <ion-card-title class="text-header">
      Welcome to
   </ion-card-title>
   <ion-card-title class="text-header">
    My Shop Manager
 </ion-card-title>
  </ion-card-header>
  <ion-card-content class="under-text">
    <div class="stignin-btns">
      <ion-button fill="solid" shape="square" class="loginbtn" [routerLink]="'/login'">
        Login
      </ion-button>
      <ion-button fill="solid" shape="square" class="signinbtn" [routerLink]="'/signup'">Sign up</ion-button>
    </div>
  </ion-card-content>
  <ion-img src="../../../assets/images/stock.png"></ion-img>
 </ion-card>
</ion-content>
  

